{% load static %}
{% include 'productos/menu.html' %}

{% if productos %}
<div class="container">
    <h1>{{ categoria.nombre }}</h1>

<div class="row ">
    {% for producto in productos %}
    <div class="col-md-4">
        <div class="card">
            <a href="{% url 'detalle_producto' producto.id %}">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
            </a>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p><strong>Categoría: </strong>{{ producto.categoria }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="price">${{ producto.precio }}</span>
                    <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn btn-sm btn-primary">
                        <i class="fas fa-plus"></i>Agregar al Carrito
                    </a>                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No hay productos en esta categoría.</p>
{% endif %}
</div>
{% include 'productos/footer.html' %}
